In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sales=pd.read_csv(r'C:\Users\sreejayan\Desktop\assignment\Sales_add.csv')

In [3]:
sales

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

In [4]:
# Calculate sales increase
sales['Sales_Increase'] = sales['Sales_After_digital_add(in $)'] - sales['Sales_before_digital_add(in $)']
sales['Sales_Increase']

0     137469
1      73775
2      97965
3      79641
4      98877
5     119785
6      91481
7      99497
8      55002
9      51779
10     43836
11     97340
12     60118
13    101617
14     81873
15     10110
16     94046
17     23521
18     94905
19     60086
20    115963
21    112757
Name: Sales_Increase, dtype: int64

In [5]:
# Perform paired t-test
from scipy.stats import ttest_rel
t_statistic, p_value = ttest_rel(sales['Sales_before_digital_add(in $)'], sales['Sales_After_digital_add(in $)'])

print("Paired t-test results:")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

Paired t-test results:
T-statistic: -12.09070525287017
P-value: 6.336667004575778e-11

In [6]:
if p_value < 0.05:
    # Reject the null hypothesis
    print("The null hypothesis is rejected.")
else:
    # Fail to reject the null hypothesis
    print("The null hypothesis is not rejected.")

The null hypothesis is rejected.

# the company needs to check whether there is any dependency between the features “Region” and “Manager”

In [9]:
# Cross-tabulation of Region and Manager
from scipy.stats import chi2_contingency
cross_tab = pd.crosstab(sales['Region'], sales['Manager'])

print("Cross-tabulation of Region and Manager:")
print(cross_tab)

Cross-tabulation of Region and Manager:
Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [10]:
_, p_value, _, _ = chi2_contingency(cross_tab)

In [11]:
p_value

0.5493991051158094

In [12]:
if p_value < 0.05:
    # Reject the null hypothesis
    print("The null hypothesis is rejected.")
else:
    # Fail to reject the null hypothesis
    print("The null hypothesis is not rejected.")

The null hypothesis is not rejected.